@import "tailwindcss";

@font-face {
  font-family: "Hanken Grotesk";
  src: url("@/assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

:root {
  --primary-light-red: hsl(0, 100%, 67%);
  --primary-orange-yellow: hsl(39, 100%, 56%);
  --primary-green-teal: hsl(166, 100%, 37%);
  --primary-cobalt-blue: hsl(234, 85%, 45%);

  --bg-light-slate-blue: hsl(252, 100%, 67%);
  --bg-light-royal-blue: hsl(241, 81%, 54%);

  --circle-violet-blue: hsla(256, 72%, 46%, 1);
  --circle-blue: hsla(241, 72%, 46%, 0);

  --gradient-bg: linear-gradient(
    to bottom,
    var(--bg-light-slate-blue),
    var(--bg-light-royal-blue)
  );

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);

  /* typography */
  --font-family: "Hanken Grotesk", sans-serif;
  --font-size: 18px;
}

body {
  background-color: var(--neutral-pale-blue);
}
